//- Declaration
mixin speakers(speakers)
	p.speakers
		each pers, i in speakers
			span(class="link", href=pers.id)= `${pers.firstName} ${pers.lastName}`
			- if( i < speakers.length-1 )
				- if( speakers[i+1].institution !== pers.institution )
					= ` (${pers.institution})`
				= ", "
			- else
				= ` (${pers.institution})`
	each pers, i in speakers
		div(class=["bio", pers.id])
			img(src=`img/portraits/${pers.id}.jpg`)
			p
				strong= `${pers.firstName} ${pers.lastName} `
				= pers.bio

mixin defaultBlock(top)
	if top.description
		p.description= top.description
	if top.speakers && top.speakers.length > 0
		+speakers(top.speakers)

//- Use
div(class=["program", title.toLowerCase().replace(" ", "_")])
	h1= `${date} | ${title}`
	div
		if description
			div.description
				each par in description
					p= par
		if organizers
			div.organizers
				p= organizers.description
				+speakers(organizers.chairs)
		if program.length
			ul.agenda
				each top in program
					li(class=top.type)
						h2
							span.time= top.time
							= ` ${top.topic}`
						case top.type
							when "talk"
							when "other"
								+defaultBlock(top)
							when "block"
								if top.description
									p.description= top.description
								ul.blocks
									li.talk
										each block in top.blocks
											h3= block.topic
											+defaultBlock(block)
							when "panel"
								+defaultBlock(top)
								ul.speakerGroups
									each group in top.speakerGroups
										li
											p= group.description
											+speakers(group.speakers)
