//- Declaration
mixin speakers(speakers, text="")
	p.speakers
		each pers, i in speakers
			if pers.bio
				span(class="link", href=pers.id)= `${pers.firstName} ${pers.lastName}`
			else
				span(href=pers.id)= `${pers.firstName} ${pers.lastName}`
			- if( i < speakers.length-2 )
				- if (speakers[i+1].institution !== pers.institution && pers.institution)
					= ` (${pers.institution})`
				= ", "
			- else if (i === speakers.length-2)
				- if (speakers[i+1].institution !== pers.institution && pers.institution)
					= ` (${pers.institution})`
				- if (speakers.length > 2)
					= ", and "
				- else
					= " and "
			- else if (pers.institution)
				= ` (${pers.institution})`
		= text
	each pers, i in speakers
		if pers.bio
			div(class=["bio", pers.id])
				img(src=`img/portraits/${pers.id}.jpg`)
				p
					strong= `${pers.firstName} ${pers.lastName} `
					= pers.bio

mixin defaultBlock(top)
	if top.description
		p.description= top.description
	if top.speakers && top.speakers.length > 0
		+speakers(top.speakers)

//- Use
div(class=["program", title.toLowerCase().replace(" ", "_")])
	h1(class=title.toLowerCase().split(" ")[0])= `${date} | ${title}`
	div
		div.description
			if description
				each par in description
					p= par
			if location
				h2 location
				p
					each l, i in location
						if (i == 0)
							a(href=locationLink, target="_blank")!= l
						else
							= l
						br
			if organizers
				h2 Chairs
				p!= organizers.description
				div.organizers
					+speakers(organizers.chairs, " will serve as conference co-chairs.")
		if program.length
			h2 Programme
			ul.agenda
				each top in program
					li(class=top.type)
						h3
							span.time= top.time
							= ` ${top.topic}`
						case top.type
							when "talk"
							when "other"
								+defaultBlock(top)
							when "block"
								if top.description
									p.description= top.description
								ul.blocks
									each block in top.blocks
										li.talk
											h4= block.topic
											+defaultBlock(block)
							when "panel"
								+defaultBlock(top)
								ul.speakerGroups
									each group in top.speakerGroups
										li
											p= group.description
											+speakers(group.speakers)
